* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FEA128;
    --color-btn: #f2f2f2;
    --color-text: #27336e;
}
 
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    /* height: 10000px; */
    font-family: 'Poppins', sans-serif;
}

/* ============= Common ============= */

.btn {
    min-width: 120px;
    padding: 8px 16px;
    border-radius: 999px;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--color-btn);
}

.btn:hover {
    background-color: var(--primary-color);
    opacity: 0.8;
}
.fa-solid {
    color: var(--primary-color);
}


.title {
    color: var(--color-text);
    padding-top: 50px;
    font-weight: 600;
    text-align: center;
    font-size: 3.4rem;
}

/* =================================== Navbar ================================= */
.navbar {
    background-color: #fbf9f9;
    /* backdrop-filter: blur(2px); */
    /* opacity: 0.9; */
}
.navber-toggler{
    /* display: none; */
    background-color: #FEA128; /* Màu nền */
    border-color: #FEA128; /* Màu viền */
    color: #fff; /* Màu chữ */
    font-size: 20px; /* Kích thước chữ */
}
.navbar-toggler:hover {
    background-color:#FEA128; /* Màu nền khi hover */
    border-color: #FEA128; /* Màu viền khi hover */
    color: #fff; /* Màu chữ khi hover */
}
.navbar .img-logo {
    height: 70px;
}

.navbar  .navbar-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar .navbar-sub-menu .dropdown-item {
    font-size: 1.6rem;
}

.navbar .nav-link {
    font-size: 1.6rem;
    font-weight: 600;
    min-width: 10rem;
    color: #000;
}

.navbar .nav-link.active {
    color: var(--primary-color);
}

.navbar .btn-cta {
    min-width: 250px;
    display: flex;
    justify-content: space-between;
}

/* ============================== Modal ====================================== */
.modal .modal-body select,input:not([type=radio]) {
    height: 40px;
}

.modal .modal-body input, option {
    font-size: 1.4rem;
}

.modal .modal-title {
    font-size: 2rem;
    font-weight: 600;
}

.modal .err {
    color: red;
}

/* ================== Jquery ============== */
#idQuan  option {
    display: none;
}

#idCoSo option {
    display: none;
}

.hide { 
    display: none;
}

.appear {
    display: block;
}

/* ============================= Header =======================================*/
.header {
    background-image: url(../img/advantage-1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header .cover {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.header .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.header .sub-title,.desc {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6;
}

.header .desc {
    width: 700px;
    margin: 10px 0 20px;
}

.header .container .title {
    width: 700px;
    font-size: 6rem;
    font-weight: 700;
    margin: 1rem 0;
    color: #fff;
}

/* ============================= Advantage =======================================*/

.advantage {
    margin-top: 40px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.advantage .sub-title {
    margin-top: 8px;
    font-size: 2.8rem;
    color: var(--primary-color);
}

.advantage .item {
    margin-top: 20px;
    border-radius: 12px;
    transition: box-shadow 0.5s;
}

.advantage .item img {
    width: 50%;
    /* height: 300px; */
    object-fit: cover;
    border-radius: 12px;
}

.advantage .item .desc {
    text-transform: uppercase;
    margin: 20px auto 0;
    font-size: 1.8rem;
    width: 100%;
    word-wrap: break-word;
}

.advantage .item:hover {
    box-shadow: 0 1px 22px 6px rgba(92,88,88,0.69)
}

.advantage .item:hover .desc {
    color: var(--primary-color);
}

.advantage .btn-cta {
    margin-top: 40px;
    padding-bottom: 50px;
}

/* ========================================= Achievement ========================= */

.achievement {
    margin-top: 40px;
}

.achievement .title strong {
    color: var(--primary-color);
}

.achievement  .list {
    margin-top: 50px;
}
.achievement .icon i {
    display: inline-block;
    font-size: 4rem;
    padding: 20px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
}

.achievement .item {
    display: flex;
}

.achievement .item .wrap-text {
    padding-left: 20px;
    color: var(--color-text);
}

.achievement .item .count {
    font-size: 4rem;
    font-weight: bolder;
    color: var(--primary-color);
    position: relative;
}

.achievement .item .count:not(.no-after)::after {
    content: "+";
    font-size: 3rem;
    position: absolute;
}

.achievement .item .desc {
    
    font-size: 2.4rem;
    word-spacing: 0.3rem;
}

.achievement .btn-cta {
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.a
/* ===================================== List-Teacher ======================== */
.list-teacher {
    margin-top: 40px;
    background-color: #f2f2f2;
}


.list-teacher .body {
    margin-top: 50px;
}

.list-teacher .item {
    display: flex;
    align-items: center;
}

.list-teacher .item:not(:first-of-type) {
    margin-top: 30px;

}

.list-teacher .fa-solid {
    font-size: 5rem;
}

.list-teacher .desc {
    padding-left: 40px;
}

    /* === Slider === */

.carousel {
    /* background-color: #f8f8f8; */
    padding: 20px 0;
}

.slide .carousel-item .item {
    display: flex;
    justify-content: space-between;

}

.slide .carousel-item .info-teacher {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide .img-teacher {
    height: 230px;
    width: 230px;
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
}

.slide .name {
    font-size: 2rem;
}

.slide .icon {
    font-size: 2rem;
    color: #1e3050;
}

.slide .list-info li:not(:first-of-type, :last-of-type){
    margin: 10px 0;
}

.slide .list-info li {
    font-size: 2rem;
    list-style: url(../img/star.svg);
}

::marker {
    font-size: 4rem;
}

.list-teacher .btn-cta {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.list-teacher .icon-gt, .icon-lt {
    display: inline-block;
    padding: 20px;
    background-color: aqua;
}

.list-teacher .carousel-indicators {
    margin-bottom: -30px;
}

.list-teacher .carousel-indicators button{
    width: 10px;
    height: 10px;
    margin: 0 4px;
    border-radius: 50%;
}

/* ========================================= Student-Opinions ========================= */

.student-opinions .swiper {
    padding-top: 150px;
}

.student-opinions .card {
    height: 500px;
    text-align: center;
    border-radius: 12px;
    border: 5px solid var(--primary-color);
}

.student-opinions .card .img-opinions {
    margin-top: -100px;
    display: inline-block;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--primary-color);
}

.student-opinions .info {
    padding: 10px;
    font-size: 1.6rem;
}

.student-opinions .info .name {
    line-height: 1;
}

.student-opinions .star i:nth-of-type(3) {
    font-size: 3rem;
}

.student-opinions .star i:nth-of-type(even) {
    font-size: 2rem;
}

.student-opinions .info .desc {
    padding-top: 10px;
    text-align: justify;
    font-weight: 400;
}

.student-opinions .swiper-pagination {
    margin-top: 2px;
}

.student-opinions .btn-cta {
    padding: 50px 0;
    text-align: center;
}

/* ========================================= Course ========================= */

.course {
    margin-top: 40px;
    background-color: #f2f2f2;
    padding-bottom: 50px;
}

.course .desc {
    width: 60%;
    margin:30px auto 0;
    text-align: center;
}

.course .list-course {
    margin-top: 50px;
}

.course .card {
    padding: 20px;
    border-radius: 12px;
    border: none;
}

.course .img-course {
    display: inline-block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
}

.course .info {
    padding-bottom: 40px;
}

.course .info .sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
    color: var(--color-text);
}

.course .info .desc {
    width: 100%;
    text-align: justify;
    font-weight: 400;
    font-size: 1.6rem;
    word-spacing: 0.1rem;
}

.course .btn-cta {
    text-align: center;
}


/* ========================================= Footer ========================= */
.footer {
    margin-top: 40px;
    padding: 50px 0;
    background-color: #3D3D47;
    color: #fff;
}

.footer .first *:not(.title) {
    padding-top: 20px;
}

.footer .title {
    display: inline-block;
    border-bottom: 5px dotted #fff;
    padding: 10px 0 20px;
    color: #fff;
    font-weight: 600;
    font-size: 2.5rem;
}

.footer .second .list-info{
    padding: 0;
}

.footer .second .item {
    list-style: none;
}

.footer .second .link {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}

.footer .third .list-img a {
    display: inline-block;
    margin: 20px 3px 0;
    width: 40px;
    height: 40px;
}

.footer .third img {
    display: inline-block;
    width: 100%;
    height: 100%;
}